/* ---------------------------My greed--------------------------------------------------- */

.col-1{
	float: left;
	width: 60px;
	min-height: 1px;
    margin-left: 5px;
}

.col-2{
	float: left;
	width: 160px;
	min-height: 1px;
    margin-left: 5px;
}

.col-3{
	float: left;
	width: 220px;
	min-height: 1px;
}

.col-4{
	float: left;
	width: 300px;
	min-height: 1px;
    margin-left: 5px;
}

.col-5{
	float: left;
	width: 380px;
	min-height: 1px;
    margin-left: 5px;
}

.col-6{
	float: left;
	width: 460px;
	min-height: 1px;
    margin-left: 5px;
}

.col-7{
	float: left;
	width: 540px;
	min-height: 1px;
}

.row{
	clear: both;
	
}

/* ---------------------------style--------------------------------------------------- */

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

.wrapper {
	min-width: 1215px;
	margin: 0 auto;
	height: auto !important;
	height: 100%;
}

@media screen and (max-width:640px) {
	.wrapper {
		min-width: 640px;
		overflow: hidden;
	}
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 50px;
	background: #ffffff;
	margin: 0;
	font-family: kalinga;
	font-size: 16px;
	color:#4a4a4a;
}

@media screen and (max-width:640px) {
	.header {
		height: 50px;
	}
}

.header1{
	width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width:640px) {
	.header1{
	width: 640px;
	margin: 0 auto;
}
}

.color{
	background: #f0f0f0;
}

hr {
	color: #e5e5e5;
	margin: 20px 0 40px 0;
}

@media screen and (max-width:640px) {
	.header hr{
		margin: 0 0 20px 0;
	}
}

.header ul li{
	display: block;
	float: left;
}

.header3{
    position: absolute;
    top: 410px;
    right: 1px;
    background-color: #c8dce7;
    margin-top: 15px;
}

.header3 ul li{
    height: 30px;
    list-style-type: none;
	padding: 0 20px 20px 20px;
    font-family: kalingab;
	font-size: 24px;
	color:#545454;
}

@media screen and (max-width:640px) {
	ul.hidelist1 {
		display: none;
	}
}

@media screen and (max-width:640px) {
	.hideheader2{
		display: none;
	}
}

.header ul{
	float: right;
}

.navig{
	font-family: kalingab;
	font-size: 14px;
	color:#545454;
	margin-top: 20px;
	position: relative;
}

.navig li{
	margin-left: 35px;
	height: 30px;
	padding-top: 5px;
}

@media screen and (max-width:640px) {
	.navig li{
		margin-left: 25px;
	}
}

.fashion{
	float:left;
	font-family: Pacifico;
	font-size: 40px;
	color:#1bdce8;
    margin-top: -5px;
}

.headborder{
	margin-top: -5px;
	position: relative;
	border-left: 2px solid #e5e5e5;
	padding: 5px 5px 0 35px;
	width: 145px;
	background-repeat: no-repeat;
	background-position-x: 105px;
}

.addsWatchList{
	display: none;
	color: #ff0000;
}

.showlistArrow1{
	position: relative;
}
	
.showlistArrow{
	position: absolute;
	width: 10px;
	height: 5px;
	right: -11px;
	top: 4px;
	background-position-x: 10px;
	cursor: pointer;
}

.listappendfromhover{
	display: none;
	position: absolute;
	background-color: #ffffff;
	width: 75px;
	padding: 5px;
	top: 10px;
	left: -60px;
	font-family: kalingab;
    font-size: 16px;
    color: #545454;
	z-index: 10000;
}

.listappendfromhover1{
	width: 70px;
	left: -40px;
}

.listappendfromhoverli{
	margin-top: 10px;
}

.showlistArrowdop{
	top: 22px;
}

.textSearch input{
	border: 2px solid #e5e5e5;
	width: 180px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 33px;
	margin-top: -5px;
}

.searchText1{
	display: none;
}
	
.search{
	position: relative;
	overflow: hidden;
	width: 35px;
	height: 35px;
	border: 2px solid #e5e5e5;
	padding: 3px;
	margin-top: -10px;
	cursor: pointer;
	background-repeat: no-repeat;
}

.search {
	background-position-y: -166px;
	background-position-x: 7px;
	
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
	width: 1015px;
	margin: 0 auto;
}

@media screen and (max-width:640px) {
	.content {
		width: 640px;
	}
}

.rightblock{
	float:left;
	width: 280px;
	height: 380px;
	background: #ffffff;
	border: 1px solid #ebe9e9;
	margin-left: 21px;
	margin-bottom: 25px;
	position: relative;
}

.rightblock1{
	width: 278px;
	height: 285px;
	position: relative;
	overflow: hidden;
}

.rightblock10{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: block;
}

.rightblock10add{
	background: black;
	opacity: 0.3;
}


.rightblock1_1 img{
	margin-left: -30px;
}

.rightblock2 img{

}

.rightblock3 img{
	margin-top: -10px;
	margin-left: -40px;
}
.rightblock4 img{
	margin-left: -60px;
}

.rightblock5 img{
	margin-left: -5px;
}

.rightblock6 img{
	margin-left: -10px;
}

.rightblock7 img{
	
}

.rightblock8 img{
	margin-left: -20px;
}

.rightblock9 img{
	
}

.watch1{
	float: left;
	font-size: 18px;
	font-family: kalingab;
	color: #656565;
	margin-right: 20px;
	margin-left: 20px;
	width: 133px;
	overflow: hidden;
}

.price1{
	float: right;
	font-size: 22px;
	font-family: kalingab;
	color: #00e0be;
	margin-right: 15px;
}

.watch1, .price1{
	margin-top: 20px; 
	margin-bottom: 15px; 
}

.picture41{
	height: 300px;
	background-image:url(../image/Gradient1.jpg);
    margin-bottom: 20px;
}

@media screen and (max-width:640px) {
	.picture41{
		display: none;
	}
}

.picture4{
	width: 1360px;
	margin: 0 auto;
	height: 300px;
	padding: 75px 0 0 200px;
	font-size: 40px;
	font-family: NexaBold;
	color: #363636;
	background-image:url(../image/5.jpg);
    background-repeat: no-repeat;
	line-height: 25px;
}

.Up{
	width: 134px;
	height: 42px;
	font-family: kalingab;
	font-size: 15px;
	color: #fdfdfd;
	background: #00d8e5;
	text-align: center;
	line-height: 42px;
	margin-left: 25px;
	cursor:pointer;
    position: relative;
    float: right;
}

#add{
	width: 134px;
	height: 42px;
	font-family: kalingab;
	font-size: 20px;
	color: #fdfdfd;
	background: #00d8e5;
	float: left;
	text-align: center;
	line-height: 42px;
	margin: 0 20px;
	cursor:pointer;
}

.del1{
	font-size: 18px;
	font-family: kalingab;
	color: #00e0be;  
    cursor:pointer;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.del1:hover{
    color: red;
}

#inp, #inp1, #inp2{
    width: 280px;
	height: 30px;
	font-family: kalingab;
	font-size: 18px;
	float: left;
	text-align: center;
	margin: 4px 0 0 20px;
}

#inp1 {
    width: 50px;
}